<div th:fragment="form">
    <h4 class="h4">EDIT PRODUCT</h4>
    <form th:action="@{/category/index}" th:onject="${category}" method="post">
        <div class="form-group">
            <label th:field="*{id}">Category Id:</label>
            <input th:field="*{id}" class="form-control"/>
        </div>
        <div class="form-group">
            <label  th:field="*{name}">Category Name:</label>
            <input  th:field="*{name}" class="form-control"/>
        </div>
        <button class="btn btn-success mr-3" th:formaction="@{/category/create}" formmethod="post"><i class="fas fa-save mr-2"></i>CREATE</button>
        <button class="btn btn-primary mr-3" th:formaction="@{/category/update}" formmethod="post"><i class="fas fa-times-circle mr-2"></i>UPDATE</button>
        <a class="btn btn-info mr-3 mt-2 mb-2" th:href="@{/category/index}"><i class="fas fa-times-circle mr-2"></i>RESET</a>
    </form>
</div>